# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.TestSCF.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Code\21\TestSCF\.idea\.idea.TestSCF\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
